.jumbotron {
    background-image: url("../../images/openbook.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotext {
    color: whitesmoke!important;
    font-family: 'Raleway', sans-serif;
}