.navbar {
    background-color: #5d1616;
}
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke!important; 
}
.nav-link {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.fas {
    color: white!important;
}